@if (ShowDialog)
{
    <div class="easy-dialog-parent-container" id="@Id">
        @if (ShowOverlay)
        {
            <div class="easy-dialog-overlay" @onclick="@OnOverlayClicked" style="background-color: @OverlayBackgroundColor;"></div>
        }
        <div class="easy-dialog" style="width: @Width; min-width: @MinWidth;">
            @if (ShowHeader)
            {
                @if (HeaderTemplate is not null)
                {
                    @HeaderTemplate
                }
                else
                {
                    <div class="easy-dialog-header" style="background-color: @HeaderBackgroundColor">
                        <div class="easy-dialog-title-container">
                            @if (HeaderTitleTemplate is not null)
                            {
                                @HeaderTitleTemplate
                            }
                            else
                            {
                                <h5 class="header-title">@HeaderTitle</h5>
                            }
                        </div>
                        <div class="easy-dialog-close-btn-container">
                            <i class="fa fa-multiply" @onclick="@DismissDialog"></i>
                        </div>
                    </div>
                }
            }
            <div class="easy-dialog-body" style="min-height: @MinHeight; max-height: @MaxHeight; height: @Height; max-width: @MaxHeight">
                @DialogBody
            </div>
            @if (ShowFooter)
            {
                @if (FooterTemplate is not null)
                {
                    @FooterTemplate
                }
                else
                {
                    <div class="easy-dialog-footer">
                        @if (ShowPrimaryButton)
                        {
                            <button disabled="@DisablePrimaryButton" @onclick="@OnSubmitDialogAsync" class="easy-dialog-btn" style="background-color: @PrimaryButtonColor;">
                                @PrimaryButtonText
                            </button>
                        }
                        @if (ShowSecondaryButton)
                        {
                            <button disabled="@DisableSecondaryButton" @onclick="@CancelDialogAsync" class="easy-dialog-btn" style="background-color: @SecondaryButtonColor;">
                                @SecondaryButtonText
                            </button>
                        }
                    </div>
                }
            }
        </div>
    </div>
}

<style>
    @@media screen and (max-width: @Width) {
        .easy-dialog{
            width: 96%!important;
        }
    }
</style>